XlsxWriter
pandas
openpyxl
progress
PyYAML
lastversion
coloredlogs

beautifulsoup4
jsonmerge
spdx-tools==0.8.2;sys_platform=="linux"
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
numpy
requests
GitPython
cyclonedx-python-lib==8.5.*;sys_platform=="linux"
defusedxml
